/* Basic Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Arial', sans-serif;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.container {
    background-color: #fbfbfb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    width: 100%;
    text-align: center;
}
.heading {
    font-size: 40px;
    margin-bottom: 10px;
    background-color: blanchedalmond;

}
.description {
    font-size: 14px;
    line-height: 1.5;
    color: #333;
    margin-bottom: 20px;
    text-align: left;
}
.about-image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}
